<div><h1 style="margin: auto; text-align:center">Posts</h1></div>

<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
              <%= form_for :query, url: posts_path, method: :get do |form| %>
                <div class="input-group">
                  <%= form.text_field :text, placeholder: 'Search...', class:"custom-input", value: params.dig('query', 'text') %>
                  <div class="input-group-append">
                    <%= form.submit 'Search',class:"btn btn-outline-secondary" %>
                  </div>
                </div>
              <% end  %>
        </div>
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <%= form_for :query, url: posts_path, method: :get do |form| %> 
              <div class="input-group">
                  <%= form.select :category_id,  @categories.collect {|u| [ u.name, u.id ] },
                      include_blank: true, class:"custom-select", selected: params.dig('query', 'category') %>
                  <div class="input-group-append">
                    <%= form.submit 'Get all posts this category',class:"btn btn-outline-secondary" %>
                  </div>
              </div>
            <% end  %>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

    <% @posts.each do |post| %>
      <table class="table table-dark table-striped">
        <tbody>
            <tr scope="row">
              <td>Posted by:<%= User.find(post.user_id).name  %></td>
              <td></td>
              <td><%= Category.find(post.category_id).name %></td>
            </tr>

            <tr scope="row">
              <td colspan="4"><strong style="color: #ffffff"><%= post.title %></strong></td>
            </tr>

            <tr scope="row">
              <td><%= link_to 'Show', post %></td>
                <% if policy(post).update?%>
                  <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <%end%>
                 <% if policy(post).destroy?%>
                 <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <%end%>
            </tr>
        </tbody>
      </table>
    <% end %>
</div>

<%= will_paginate @posts %>