<div><h1 style="margin: auto; text-align:center">Posts</h1></div>

<div class="container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
              <%= form_for :query, url: posts_path, method: :get do |form| %>
                <div class="input-group">
                  <%= form.text_field :text, placeholder: 'Search...', class:"custom-input", value: params.dig('query', 'text') %>
                  <div class="input-group-append">
                    <%= form.submit 'Search',class:"btn btn-outline-secondary" %>
                  </div>
                </div>
              <% end  %>
        </div>
        <div class="col-sm">
        </div>

        <div class="col-sm">
            <%= form_for :query, url: posts_path, method: :get do |form| %> 
              <div class="input-group">
                  <%= form.select :category_id,  @categories.collect {|u| [ u.name, u.id ] },
                      include_blank: true, class:"custom-select", selected: params.dig('query', 'category') %>
                  <div class="input-group-append">
                    <%= form.submit 'Get all posts this category',class:"btn btn-outline-secondary" %>
                  </div>
              </div>
            <% end  %>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
    <% @posts.each do |post| %>

    <span class="border">
    <div class="container">
      <div class="row">
        <div class="col-sm">Posted by:<%= User.find(post.user_id).name  %>
        </div>
         <div class="col-sm">
        </div> 
        <div class="col-sm">
        </div>
      </div>
      <br>
      <div class="row">
      </div>
       <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm">
          </div> 
          <div class="col-sm"><%= Category.find(post.category_id).name %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
      <div class="col-sm">
          </div> 
          <div class="col-sm">
          </div> 
          <div class="col-sm">
          </div> 
      </div>
      <div class="row">
        <div class="col-sm">
        </div>
         <div class="col-sm"><%= post.title %>
        </div> 
        <div class="col-sm">
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div >
        <p style="display:flex; flex-wrap:wrap; width:200px"><%= post.body %></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm"><%= link_to 'Show', post %>
        </div>
         <div class="col-sm"><%= link_to 'Edit', edit_post_path(post) %>
        </div> 
        <div class="col-sm"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
     </div>
     
    <br></span>  
    <% end %>
</div>