<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

  <strong>Body:</strong>
<p style="display:flex; flex-wrap:wrap; width:200px">
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%=  Category.find(@post.category_id).name%>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@post.user_id).name %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form'%>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
